{% extends "base.html" %}
{% block header %}
 <div class="row titlerow">

          <div class="col-md-12 text-center">
         <h1 class= "blog text-center text-white title">{{ post.title }}</h1>


        </div>
</div>

{% endblock %}
{% block content %}


    <div class="container addcommentmain">

    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8 content main">
      <h3 class="title">New Comment</h3>
      <p><a href="/blog">Back</a></p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="addcommentbtn save btn btn-default">Submit Comment</button>
    </form>
   	</div><!--close 8col-->
     <div class="col-md-2"></div>
    </div><!--close row-->
  	</div><!--close container-->

{% endblock %}
