  {% extends "base.html" %}
{% block content %}

  <div class="container">
	     <!-- <div class="row title">
			<div class="col-md-6">
					<img src="http://placekitten.com/200/150" class="title-logo img-circle img-responsive" alt="personal logo">
			</div>
			<div class="col-md-6 text-right text-uppercase">
					<h1 class="text-thin title-super">Jane Doette</h1>
					<h4>front-end ninja</h4>
			</div>
		</div><!--rowtitle-->
		<hr>
		<div class="row app">
			<div class="col-md-12">
				<img src="http://placekitten.com/1150/450 "   class="img-responsive" alt="awesome picture">
			</div>
		</div><!--rowapp-->
		<div class="row title-row" id="featured">
			<div class="col-md-12">
				<h2 class="text-muted ">Featured Work</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 ">
				<div class="kitten center-block">
					<img class="img-responsive thumbnail center-block" alt="cute kitten" src="http://placekitten.com/450/450" data-toggle="modal" data-target="#project1">
					<div class="description">
						<h3>Cute Kitten 1</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
			<div class="col-sm-4 ">
				<div class="kitten center-block">
					<img src="http://placekitten.com/350/300" data-target="#project2" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute kitten">
					<div class="description">
						<h3>Cute Kitten 2</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
			<div class="col-sm-4  ">
				<div class="kitten center-block">
					<img src="http://placekitten.com/450/450" data-target="#project3" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute kitten">
					<div class="description">
						<h3>Cute Kitten 3</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
		</div><!--row-->


		<!-- <div class="row title-row" >
			<div class="col-md-12">
				<h2 class="text-muted ">Featured Work</h2>
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-4  ">
				<div class="kitten center-block">
					<img class="img-responsive thumbnail center-block" alt="cute kitten" src="http://placekitten.com/450/450" data-toggle="modal" data-target="#project1">
					<div class="description">
						<h3>Cute Kitten 1</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
			<div class="col-sm-4  ">
				<div class="kitten center-block">
					<img src="http://placekitten.com/350/300" data-target="#project2" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute kitten">
					<div class="description">
						<h3>Cute Kitten 2</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
			<div class="col-sm-4 ">
				<div class="kitten center-block">
					<img src="http://placekitten.com/450/450" data-target="#project3" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute kitten">
					<div class="description">
						<h3>Cute Kitten 3</h3>
						<p class="text-dark"> Description or website</p>
					</div>
				</div>
			</div><!--col-->
		</div><!--row-->
		<div class="row title-row">
			<div class="col-md-12">
			<h2 class="text-muted" id="skillscontent">Skills</h2>
			</div>
		</div>
		<div class="skillscontent" >
			<div class="row">
				<div class="col-md-3 ">
				<div class="skill-images center-block">
					<img src="images/python.jpeg" class="center-block img-responsive">
					</div>
				</div>
				<div class="col-md-8">
				<p class="">I have used python for algorithms, pygame, web scraping, and backend web development.  </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
				<div class="skill-images center-block">
					<img src="images/html5.gif" class="img-responsive">
					</div>
				</div>
				<div class="col-md-8">
				<p class="">I use html, css, bootstrap and materialize to create responsive web-designs. </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
				<div class="skill-images center-block">
					<img src="images/octocat.png" class="img-responsive">
					</div>
				</div>
				<div class="col-md-8">
				<p class="">I have experience collaberating with team members using GitHub on projects like <a href="https://github.com/CodeforeveryoneSeoul/codeforeveryone" >CodeforEveryone</a> and <a href="http://djangogirlscodecamp.github.io/index">Django Girls Seoul.</a></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
				<div class="skill-images center-block ">
					<img src="images/django.png" class="img-responsive">
					</div>
				</div>
				<div class="col-md-8">
				<p class="">It is of the first framework I used and instantly fell in love with it! Nowadays, I am developing three websites using Django including my <a href="rachellcalhoun.pythonanywhere.com">personal portfolio site.</a></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
				<div class="skill-images center-block">
					<img src="images/js.jpg"class="img-responsive">
					</div>
				</div>
				<div class="col-md-8">
				<p class="">I am starting to go more indepth into front-end so I've been working on algorithms and projects with Javascript! <a href="http://www.freecodecamp.com/rachellcalhoun">Check out</a> my progress!</p>
				</div>
			</div>
		</div><!--end skills content section-->
	</div><!--container-->
        <!-- Modal -->
<div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Cute Kitten 1</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" style="min-width:100%" src="http://placekitten.com/450/450">
        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin feugiat massa, id aliquam mauris tempus ac. Nullam vitae tellus in leo tincidunt euismod et nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu arcu quis nulla consectetur pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed massa at justo porta suscipit. Fusce non sollicitudin nisl, et ornare enim. In aliquam pellentesque lorem id laoreet. </p>
        <a href="www.facebook.com">Check it out!</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Cute Kitten2</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" style="min-width:100%" src="http://placekitten.com/450/450">
         <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin feugiat massa, id aliquam mauris tempus ac. Nullam vitae tellus in leo tincidunt euismod et nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu arcu quis nulla consectetur pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed massa at justo porta suscipit. Fusce non sollicitudin nisl, et ornare enim. In aliquam pellentesque lorem id laoreet. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Cute Kitten 3</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" align="middle" style="min-width:100%" src="http://placekitten.com/450/450">
         <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin feugiat massa, id aliquam mauris tempus ac. Nullam vitae tellus in leo tincidunt euismod et nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu arcu quis nulla consectetur pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed massa at justo porta suscipit. Fusce non sollicitudin nisl, et ornare enim. In aliquam pellentesque lorem id laoreet. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
