{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

<div class="titlebackground blogheader">

    <div class="row titlerow">
    <div class="col-sm-2"></div>
          <div class="col-sm-3 center-block">
            <div class="blogtitle">
              <h1 class="">{{ post.title }} </h1>
              <h4><span class="sign text-right"><a href="/blog">Back</a> </span></h4>

            </div>
          </div>
        <div class="col-sm-7 text-center publisheddate">
          {% if post.published_date %}
              <h4 class="text-black">Published: {{ post.published_date }}</h4>
              <h4 class="text-black"> Author: {{post.author }}</h4>
              {% else %}
              {% if user.is_authenticated %}
              <a class="btn btn-default publishbtn" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
              {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
          <a class="btn btn-default editbtn" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default deletebtn" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}
        </div><!--close date-->
        </div>
</div>

{% endblock %}
{% block content %}
<div class="container main">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8 content ">
          {%if post.img %} <img class = "img-responsive img-rounded text-center blogimage" src="{{post.img.url}}">  {% endif %}
          <p class="blogcontent">{{ post.text|safe }}</p>

          </div>
          <div class="col-md-2"></div>
        <!--close the row-->
        </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


          {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <hr>
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default removebtn" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default okbtn" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p class="comment">{{ comment.text|safe }}</p>
    </div>
      {% endif %}
      {% if forloop.last %}

         <div class="container addcommentmain">

    <div class="row">
      <div class="col-md-8 content main">
      <h3 class="title">New Comment</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="addcommentbtn save btn btn-default">Submit Comment</button>
    </form>
    </div><!--close 8col-->

    </div><!--close row-->
    </div><!--close container-->
      {% endif %}
      {% empty %}

       <div class="container addcommentmain">

    <div class="row">
      <div class="col-md-8 content main">
       <p>No comments here yet</p>
      <h3 class="title">New Comment</h3>
      <p><a href="/blog">Back</a></p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="addcommentbtn save btn btn-default">Submit Comment</button>
    </form>
    </div><!--close 8col-->
     <div class="col-md-2"></div>
    </div><!--close row-->
    </div><!--close container-->
      {% endfor %}
          </div>

        </div><!---Close row div-->
</div><!--close container-->
{% endblock %}
