{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <div class="row">

      <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <h1 class="title text-white">{{ post.title }}</h1>
          <p><a href="/blog">Back</a></p>

        </div>
        </div><!--close row-->

 <div class="row">
  <div class="col-md-6">
            {% if post.published_date %}
              <h4 class="text-white">Published: {{ post.published_date }}</h4>
              <h4 class="text-white"> Author: {{post.author }}</h4>
              {% else %}
              {% if user.is_authenticated %}
              <a class="btn btn-default publishbtn" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
              {% endif %}
            {% endif %}
  </div><!--close date-->

          <div class="col-md-6">
          {% if user.is_authenticated %}
          <a class="btn btn-default editbtn" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default deletebtn" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}
          </div>

        </div><!--close row-->
{% endblock %}
{% block content %}
<div class="container main">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8 content">

          {%if post.img %} <img class = "img-responsive img-rounded blogimage" src="{{post.img.url}}">  {% endif %}
          <p class="blogcontent">{{ post.text|safe }}</p>
          </div>
          <div class="col-md-2"></div>
        </div> <!--close the row-->

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


          {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <hr>
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default removebtn" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default okbtn" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p class="comment">{{ comment.text|safe }}</p>
    </div>
      {% endif %}
      {% if forloop.last %}
      <a class="btn btn-default addcommentbtn" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>
      {% endif %}
      {% empty %}
      <p>No comments here yet, <a class="btn btn-default addcommentbtn" href="{% url "add_comment_to_post" pk=post.pk %}">Add one!</a></p>
      {% endfor %}
          </div>

        </div><!---Close row div-->
</div><!--close container-->
{% endblock %}
