html{
  overflow-x:hidden;
}
body {
	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight:400;
}

hr{
	height:2px;
	background-color: #747784;
}
.socialmedia {
  margin-top: 4em;
  margin-left: 6em;
}
.socialmedia li a{
  padding: .5em;
}
.mypic {
  max-width: 150px;
  margin-top: 20px;
}
.navbar {
  width: 100%;
  margin-bottom: 0;
}
.navbar ul {
	font-size: 20px;
	padding-top:15px;
}
.navbar1 .navbar-nav  li  a:focus, .navbar1 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.navbar2 .navbar-nav  li  a:focus, .navbar2 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/*navbar1 settings: */
.navbar2 .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style:bold;
}
/*navbar1 font settings: */
.navbar2 .navbar-brand, .navbar1{
    color: white;
}

.navbar1{
    margin:0px;
    border-radius: 0px;
    background: rgba(50, 50, 50, 0.25);
    border-color: transparent;
    color:white;
}
.navbar1 ul {
    font-size: 20px;
    padding-top: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.title {
  padding-top: 20px;
}
.text-muted{
	color: #BCBBBB;
}
.text-thin{
	font-weight:100;
}
.title-super{
	font-size: 45px;
	font-family: 'Lato', sans-serif;
	font-weight:100;
}
.title-logo{
	margin-top:20px;
}
.blogimage {
  margin-top: 15px;
}
.skillscontent{
	border-width: 1px;
	border: solid #747784;
	padding:10px;
	border-radius:5px;
}

.skillsheader {
  padding-top: 20px;
}

.skillsbackground {
  margin-bottom: 15px;
}

.projects {
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top:1em;
  margin-bottom:auto;
  min-height:500px;
  max-height: 500px;
  width: 500px;
  padding:1em;

}

.mceEditor > table {
    min-width: 700px !important;
}
.title-row {
	margin-top:2em;
	margin-bottom: 2em;
}
.projects img {
	max-height: 100%;
	 max-width: 100%;
	margin-top:5px;
}
/*.description {
	margin-bottom:0px;
}*/
.skill-images{
	max-width: 30%;
}

.skilltext{
    font-size: 17px;
    padding-top: 12px;
}

.text-white {
  color: white;
}
.blogtitle {
  background-image: linear-gradient(to bottom, #0F0C0C 0px, #222 100%);
  margin-left: 65px;
  height: 60px;
}

.footer {
  margin-top:20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
  background-repeat: repeat-x;
}
.footer ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
}

.footer ul li a {
    display: block;
}
.footer a, .socialmedia a{
  color:#9D9D9D;
}

.footer li a{
  float: right;
  padding:.5em;
}

.footer a:hover, .socialmedia a:hover{
  color:white;
  font-style: none;
}

@media(max-width: 1000px){

  .title-super{
	font-size: 1.5em;
	padding-bottom:.5em;
  font-weight: 300;
  }
  .subtitle{
  	display:none;
  }
  .description > h4 {
    font-size: 14;
  }
  .description > h1 {
    font-size: 20px;
  }
  .projects {
      min-height:350px;
       max-height: 350px;
       width:100%;
       overflow:hidden;
  }
  .projecttitle {
    font-size: 25px;
  }
  .intro {
    display: none;
  }
  .introtitle {
    font-size: 20px;
  }
  .mceEditor > table {
    min-width: 100% !important;
  }
  .socialmedia {
    padding:0;
    margin:0;
  }
  .bigscreen {
    display:none;
  }
  .smallscreen{
    display:block;
  }
  .blogtitle {
  background-image: linear-gradient(to bottom, #0F0C0C 0px, #222 100%);
  margin-left: 0;
  min-height: 90px;
  }
}

  @media (min-width: 768px) {
  /* Navbar positioning*/
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .subtitle {
  	font-size: 1em;
  	margin-top:.5em;
  }
 }

@media (min-width: 992px) {
  .bigscreen {
    display: block;
  }
  .smallscreen {
    display: none;
  }
}

