html{
  {
   width: 100%; //fallback
   width: 100vw;
}
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #747784;
	font-weight:400;
  font-size:14px;
}

hr{
	height:2px;
	background-color: #747784;
}
h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight:400;
}

.navbar {
  width: 100%;
  margin-bottom: 0;
}
.navbar ul {
	font-size: 20px;
	padding-top:15px;
}
.navbar1 .navbar-nav  li  a:focus, .navbar1 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: bold;
}
.navbar2 .navbar-nav  li  a:focus, .navbar2 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: bold;
}

/*navbar1 font settings: */
.navbar2 .navbar-brand, .navbar1{
    color: white;
}

.navbar1 {
    margin:0px;
    border-radius: 0px;
    background: rgba(50, 50, 50, 0.75);
    border-color: transparent;
    color:white;
}
.navbar1 ul {
    font-size: 20px;
    padding-top: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    text-decoration: None;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color:white;
}

.title {
  padding-top: 20px;
}
.text-muted{
	color: #BCBBBB;
}
.text-thin{
	font-weight:100;
}
.title-super{
	font-size: 45px;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Cedarville Cursive', cursive; */
  font-family: 'Lato', sans-serif;
  font-weight:200;
  margin-top:10px;
}
.title-logo{
	margin-top:20px;
}
.subtitle {
  padding-left:1em;
}
#skillstitle-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.skillscontent{
	border-width: 1px;
	border: solid #747784;
	padding:10px;
  border-radius:5px;
}

.skillsheader {
  padding-top: 20px;
}

.skillsbackground {
  margin-bottom: 15px;
}

.projects {
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top:1em;
  margin-bottom:auto;
  min-height:500px;
  max-height: 500px;
  width: 500px;
  padding:1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mceEditor > table {
    min-width: 700px ;
}

.avatar-row {
  margin-top:6em;
}
.mypic {
  margin-bottom:4em;
}

.title-row {
	margin-top:2em;
	margin-bottom: 2em;
}
#featured {
  margin-top:0;
  margin-bottom:4em;
}
.projects img {
	max-height: 300px;
	max-width: 100%;
	margin-top:5px;
}

.skill-images{
	max-width: 30%;
}

.skilltext{
    font-size: 17px;
    padding-top: 12px;
}

.text-white {
  color: white;
}
.text-black {
  color:black;
  font-family: 'Cedarville Cursive', cursive;
}

.publisheddate {
  padding-top: 7em;
}

.blogimage {

  padding:2em;
  display:block;
  margin:auto;
  max-height: 400px;
  border-radius: 50px;
}

.blogheader {
  background-image:  url("../images/coffee2.jpg");
  height:280px;
  background-position: center;
  background-size:cover;
  font-weight: 400;
}

.blogtitle, .post-list-title {
  color: black;
  font-family: 'Cedarville Cursive', cursive;
  -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
  width: 50%;
  display:block;
  margin: 0 auto;
  margin-top: 7em;
}
.blogtitle {
  margin-top:7em;
}

.blogtitle > h1, .blogtitle > h4 {
  margin-left: 1em;
}
.content img {
max-width: 100%;
height: auto;
display: block;
}

.footer {
  margin-top:20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
}

.footer ul li a {
    display: block;
}
.footer a, .socialmedia a, .fa a li{
  color:#9D9D9D;
}

.footer li a{
  float: right;
  padding:.5em;
}

.footer a:hover, .socialmedia a:hover {
  color:white;
  font-style: none;
}

@media(max-width: 1000px){

  .title-super{
	font-size: 1.5em;
	padding-bottom:.5em;
  font-weight: 300;
  }
  .subtitle{
  	display:none;
  }
  .description > h4 {
    font-size: 14;
  }
  .description > h1 {
    font-size: 20px;
  }
  .projects {
      min-height:350px;
       width:100%;
       overflow:hidden;
  }
  .projecttitle {
    font-size: 25px;
  }
  .intro {
    display: none;
  }
  .introtitle {
    font-size: 20px;
  }

  .blogheader {
    background-position:  35% 70%;
  }

  @media (min-width: 768px) {
  /* Navbar positioning*/
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .subtitle {
  	font-size: 1em;
  	margin-top:.5em;
    padding-left: 1.5em;
  }

 }
  @media (max-width: 768px) {
    .post-list-title, .blogtitle {
      width: 100%;
      text-align: center;

      padding-right:0;
      padding-left:0;
    }

  }


