{% extends 'base.html' %}
{% load static %}

{% block header %}

<div class="avatar-row" id="about">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <img class="img-responsive mypic center-block img-circle" style="max-width:50%"
            src="{% static 'images/rachell_talking.JPG' %}">
        <h3>Rachell is a software engineer, data scientist, and community organizer.</h3>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}
{% block content %}
<div class="container featuredworkcontainer">
    <div class="title-row row">
        <div id="featured" class="col-md-12">
            <h2 class="text-muted text-center">Projects</h2>
        </div>
    </div>
    {% for project in entries %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
        <div class="col-md-6">
            <div class="projects center-block">
                {% if project.img %}
                <img class="img-responsive img-rounded center-block catimage" data-target="#{{project.pk}}"
                    data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills"
                    src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                    {% if project.link %}
                    <h3 class="projecttitle">{{ project.title }}</h3>
                    {% else %}
                    <h3 class="projecttitle">{{ project.title }}</h3>
                    {% endif %}
                    {% if project.text %}
                    <p>{{ project.text|safe|truncatechars:100 }}</p>
                    <a href="{{project.link}}">
                        <p>{{project.title}}</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--col-->
        <!-- Modal -->
        <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                        <p class="text-dark">{{project.text|safe}}</p>
                        {% if project.link %}
                        <a href="{{ project.link }}">
                            <p>{{project.title}}</p>
                        </a>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% elif not forloop.counter0|divisibleby:2 %}
        <div class="col-md-6">
            <div class="projects center-block">
                {% if project.img %}
                <img class="img-responsive img-rounded center-block catimage" data-target="#{{project.pk}}"
                    data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills"
                    src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                    {% if project.link %}
                    <h3 class="projecttitle">{{ project.title }}</h3>
                    {% else %}
                    <h3 class="projecttitle">{{ project.title }}</h3>
                    {% endif %}
                    {% if project.text %}
                    <p>{{ project.text|safe|truncatechars:100 }}</p>
                    <a href="{{project.link}}">
                        <p>{{project.title}}</p>
                    </a>
                    {% endif %}
                </div>
            </div>
            <!--col-->
            <!-- Modal -->

            <!--row-->
            <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                            <p class="text-dark">{{project.text|safe}}</p>
                            {% if project.link %}
                            <a href="{{ project.link }}">
                                <p>{{project.title}}</p>
                            </a>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
    <!--container-->
    {% if forloop.last %}
</div>
{% endif %}
{% endif %}

{% if forloop.last and forloop.counter0|divisibleby:2%}
</div>
</div>


{% endif %}
{% endfor %}
<div class="container">
    <div class="title-row row">
        <div id="media" class="col-md-12">
            <h2 class="text-muted text-center">Talks & Media</h2>
        </div>
        <div class="col-md-12">
            <h3>Talks</h3>
            <ul>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=WA6TyBRM_PA">DjangoCon Europe 2024 | KEYNOTE: Django Girls: Decade in Review and Beyond</a></p>
                </li>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=UTKcPBKCQEc">DjangoCon US 2023 - Navigating Django's
                            Future: Djangonaut Space with Dawn Wages and Rachell Calhoun</a></p>
                </li>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=IumYtz0G5v0">Panel Discussion: The State of Django -
                            DjangoCon US 2022</a></p>
                </li>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=TrAFQW7Wza0">DjangoCon US 2018 - &quot;State of
                            Django&quot; Panel by Simon Willison</a></p>
                </li>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=P6JXGhcjB-A">DjangoCon US 2016 - Git in Control, Version
                            Control and How it Could... by Rachell Calhoun</a></p>
                </li>
            </ul>

            <h3>Lighting Talks</h3>
            <ul>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=U1Y-jgeGh7g">DjangoCon US 2018 - Lightning Talks Day
                            3</a></p>
                </li>
                <li>
                    <p><a href="https://www.youtube.com/watch?v=kDg93T4_rtk&t=1573s">DjangoCon US 2016 - Day 2 Lightning
                            Talks by Many People</a></p>
                </li>
            </ul>
            <h3>Media</h3>
            <ul>
                <li>
                    <p><a
                            href="https://blog.coursera.org/how-rachell-was-able-to-change-careers-while-traveling-the-world/">Coursera
                            Blog: How Rachell was able to change careers while traveling the world</a> <small
                            class="text-muted "> 2022 </small></p>
                </li>

                <li>
                    <p><a href="https://www.blog.pythonlibrary.org/2022/05/30/pydev-of-the-week-rachell-calhoun/">PyDev
                            of the Week: Rachell Calhoun - Mouse Vs Python</a> <small class="text-muted "> 2022 </small>
                    </p>
                </li>
                <li>
                    <p><a href="https://djangochat.com/episodes/django-girls-rachell-calhoun">Django Chat with Django
                            Girls - Rachell Calhoun</a> <small class="text-muted "> 2021 </small></p>
                </li>
                <li>
                    <p><a href="https://www.si.umich.edu/people/faces-umsi/faces-umsi-rachell-calhoun">Faces of UMSI:
                            Rachell Calhoun</a> <small class="text-muted "> 2020 </small></p>
                </li>
                <li>
                    <p><a
                            href="https://www.womenslifestyle.com/2018/03/08/312124/django-girls-grand-rapids-uplifting-women-through-the-power-of-programming">Womens
                            Lifestyle: Django Girls Grand Rapids: Uplifting Women Through the Power of Programming</a>
                        <small class="text-muted "> 2018 </small>
                    </p>
                </li>
                <li>
                    <p><a
                            href="https://blog.djangogirls.org/post/161441846273/aisha-rachell-and-dayoung-join-the-django-girls">
                            Django Girls Blog: Aisha, Rachell and Dayoung join the Django Girls Support Team!</a> <small
                            class="text-muted "> 2017 </small></p>
                </li>
                <li>
                    <p><a href="https://www.rapidgrowthmedia.com/innovationnews/022417-Django-Girls.aspx">Rapid Growth
                            Media: Falling in love with programming: Django Girls inspires women to join the tech
                            world</a> <small class="text-muted "> 2017 </small></p>
                </li>
                <li>
                    <p><a href="https://www.toptal.com/press-center/fifth-scholarship-winner">Toptal: American Developer
                            Rachell Calhoun Wins Fifth Toptal Scholarship</a> <small class="text-muted "> 2016 </small>
                    </p>
                </li>
                <li>
                    <p><a href="https://pyfound.blogspot.com/2015/10/django-girls-seoul-great-success.html">Django Girls
                            Seoul: A Great Success!</a> <small class="text-muted "> 2015 </small></p>
                </li>
                <li>
                    <p><a href="https://learntocodewith.me/posts/portfolio-tips/">Learn to Code with me: 28 Things to
                            Put on Your Web Developer Portfolio (+ Real-Life Examples!)</a></p>
                </li>
            </ul>
        </div>
    </div>

    <h3>Organizations I volunteer with</h3>
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="https://djangonaut.space/">
                <img src="{% static 'images/main-purple-transparent.png' %}" width="200" alt="Djangonaut Space Logo"> 
            </a>
            <br>
            Co-founder, Organizer
        </div>
        <div class="col-md-3 text-center">
            <a href="https://djangogirls.org/">
                <img src="{% static 'images/django-girls.png' %}" class="pt-4 pb-2" width="200" alt="Django Girls Logo">
            </a> <br>
            Trustee, Organizer
        </div>
        <div class="col-md-3 text-center">
            <a href="https://2023.djangocon.us/">
                <img src="{% static 'images/djangoconUS2023.svg' %}" class="pt-4 pb-2" width="200" alt="DjangoCon US 2023 Logo">
            </a>
            <br>
            Volunteer Chair, Sprint Co-Chair
        </div>
        <div class="col-md-3 text-center">
            <a href="https://2024.djangocon.us/">
                <img src="{% static 'images/djangoconus2024.svg' %}" class="pt-4 pb-2" width="200" alt="DjangoCon US 2024 Logo">
            </a>
            <br>
            Volunteer Co-Chair
        </div>
    </div>

    {% endblock %}