{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

<div class="avatar-row" id="about">
    <div class="col-md-12 text-center">
        <img class="img-responsive mypic center-block " src="https://assets.toptal.io/uploads/blog/image/92510/toptal-blog-image-1463492564587-353a3c288892f1e43929cee358dbc24f.gif">
    </div>
</div>


{% endblock %}
{% block content %}
<div class="container featuredworkcontainer">
			<div class="title-row row">
			<div id="featured" class="col-md-12">
				<h2 class="text-muted text-center">Featured Work</h2>
			</div>
		</div>
    {% for project in entries %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
        <div class="col-md-6">
        <div class="projects center-block">
                {% if project.img %}
                <img class = "img-responsive img-rounded center-block catimage" data-target="#{{project.pk}}" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills" src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                {% if project.link %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% else %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% endif %}
                    {% if project.text %}
                    <h4>{{ project.text|safe|truncatechars:100 }}</h4>
                    <a href="{{project.link}}"><h4>{{project.link}}</h4></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--col-->
        <!-- Modal -->
        <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                        <p class="text-dark">{{project.text|safe}}. </p>
                           {% if project.link %}
                    <a href="{{ project.link }}"><p>{{project.link}}</p></a>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% elif not forloop.counter0|divisibleby:2 %}
        <div class="col-md-6">
            <div class="projects center-block">
                {% if project.img %}
                <img class = "img-responsive img-rounded center-block catimage"  data-target="#{{project.pk}}" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills" src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                {% if project.link %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% else %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% endif %}
                    {% if project.text %}
                    <h4>{{ project.text|safe|truncatechars:100 }}</h4>
                    <a href="{{project.link}}"><h4>{{project.link}}</h4></a>
                    {% endif %}
                </div>
            </div>
        <!--col-->
        <!-- Modal -->

    <!--row-->
    <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                    <p class="text-dark">{{project.text|safe}}. </p>
                     {% if project.link %}
                    <a href="{{ project.link }}"><p>{{project.link}}</p></a>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div><!--row-->
    </div><!--container-->
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endif %}

{% if forloop.last and forloop.counter0|divisibleby:2%}
</div>
</div>
{% endif %}
{% endfor %}


<div class="container">
    <div id="skillstitle-container" class="text-center titlebackground skillsbackground" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({% static 'images/coding.jpg' %})
        center 40% no-repeat;height:200px; border-radius:5px;">
		<div class="row title-row">
			<div class="col-md-12">
			<h1 class="text-white skillsheader" id="skillscontent">Skills</h1>
			</div>
        </div>
    </div>
</div>
<div class="container">
		<div class="skillscontent" >
		{% for skill in skills %}
			<div class="row">
				<div class="col-md-2 ">
					<div class="skill-images center-block">
					{% if skill.img %}
						<img src="{{ skill.img.url }}" class="center-block img-responsive">
					{% endif %}
					<h4>{{ skill.title }}</h4>
					</div>
				</div>
				<div class="col-md-10">
					{% if skill.text %}
					<p class="skilltext">{{ skill.text|safe }} </p>
					{% endif %}
				</div>
			</div>
				{% if not forloop.last %}
			<hr>
		{% endif %}

			{% endfor %}
		</div>
</div><!--container-->


{% endblock %}
