{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<div class="text-center titlebackground homebackground">
    <div class="bigscreen">
        <div class="row titlerow ">
        <div class="col-md-3 text-center">
        </div>
          <div class="col-md-5 ">
            <div class="socialmedia text-center">
            <img class="img-responsive img-circle mypic center-block " src="https://avatars2.githubusercontent.com/u/10239547?v=3&s=460">

               <!--  <ul class="text-muted  list-inline bigscreen" style="none">
                    <li><a href="mailto:rachell.calhoun@gmail.com"><span class="fa fa-envelope-o fa-3x" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square fa-3x" alt="LinkedIn"></i></span></a></li>
                    <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github fa-3x" alt ="Github"></i></span></a></li>
                    <li><a href="https://twitter.com/Rachell_Calhoun" class="twitter"> <span><i class="fa fa-twitter fa-3x" alt ="Twitter"></i></span></a></li>
                </ul> -->
                <ul class="text-muted  list-inline " style="none">
                    <li><a href="mailto:rachell.calhoun@gmail.com"><span class="fa fa-envelope-o fa-lg" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square fa-lg" alt="LinkedIn"></i></span></a></li>
                    <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github fa-lg" alt ="Github"></i></span></a></li>
                    <li><a href="https://twitter.com/Rachell_Calhoun" class="twitter"> <span><i class="fa fa-twitter fa-lg" alt ="Twitter"></i></span></a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-4"></div>
        </div>
    </div>
        <div class="smallscreen">
        <div class="row titlerow ">
        <div class="col-md-3 text-center">
                <img class="img-responsive img-circle mypic center-block " src="https://avatars2.githubusercontent.com/u/10239547?v=3&s=460">
            </div>
        </div>
          <div class="col-md-5 ">
            <div class="socialmedia ">
                <ul class="text-muted  list-inline" style="none">
                    <li><a href="mailto:rachell.calhoun@gmail.com"><span class="fa fa-envelope-o" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square" alt="LinkedIn"></i></span></a></li>
                    <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github" alt ="Github"></i></span></a></li>
                    <li><a href="https://twitter.com/Rachell_Calhoun" class="twitter"> <span><i class="fa fa-twitter" alt ="Twitter"></i></span></a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-4"></div>
        </div>
</div>
{% endblock %}
{% block content %}
<div class="container featuredworkcontainer">


			<div class="row title-row" id="featured">
			<div class="col-md-12">
				<h2 class="text-muted text-center">Featured Work</h2>
			</div>
		</div>
    {% for project in entries %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
        <div class="col-md-6">
            <div class="projects center-block">
                {% if project.img %}
                <img class = "img-responsive img-rounded center-block catimage" data-target="#{{project.pk}}" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills" src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                   {% if project.link %}
                    <a href="{{project.link}}"><h1 class="projecttitle">{{ project.title }}</h1></a>
                    {% else %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% endif %}
                    {% if project.text %}
                    <h4>{{ project.text|safe|truncatechars:100 }}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--col-->
        <!-- Modal -->
        <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                        <p class="text-dark">{{project.text|safe}}. </p>
                           {% if project.link %}
                    <a href="{{ project.link }}"><p>{{project.link}}</p></a>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% elif not forloop.counter0|divisibleby:2 %}
        <div class="col-md-6">
            <div class="projects center-block">
                {% if project.img %}
                <img class = "img-responsive img-rounded center-block catimage"  data-target="#{{project.pk}}" data-toggle="modal" class="img-responsive thumbnail center-block" alt="cute skills" src="{{ project.img.url }}">
                {% endif %}
                <div class="description">
                	{% if project.link %}
                    <a href="{{project.link}}"><h1 class="projecttitle">{{ project.title }}</h1></a>
                    {% else %}
                    <h1 class="projecttitle">{{ project.title }}</h1>
                    {% endif %}
                    {% if project.text %}
                    <h4>{{ project.text|safe|truncatechars:100 }}</h4>
                    {% endif %}
                </div>
            </div>
        <!--col-->
        <!-- Modal -->

    <!--row-->
    <div class="modal fade" id="{{project.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel">{{project.title}}</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" style="min-width:100%" src="{{project.img.url}}">
                    <p class="text-dark">{{project.text|safe}}. </p>
                     {% if project.link %}
                    <a href="{{ project.link }}"><p>{{project.link}}</p></a>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div><!--row-->
    </div><!--container-->
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endif %}

{% if forloop.last and forloop.counter0|divisibleby:2%}
</div>
</div>
{% endif %}
{% endfor %}



      <div class="text-center titlebackground skillsbackground" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({% static 'images/coding.jpg' %})
        center 40% no-repeat;height:200px; ">
		<div class="row title-row">
			<div class="col-md-12">
			<h1 class="text-white skillsheader" id="skillscontent">Skills</h1>
			</div>
		</div>
</div>
<div class="container">
		<div class="skillscontent" >
		{% for skill in skills %}
			<div class="row">
				<div class="col-md-2 ">
					<div class="skill-images center-block">
					{% if skill.img %}
						<img src="{{ skill.img.url }}" class="center-block img-responsive">
					{% endif %}
					<h4>{{ skill.title }}</h4>
					</div>
				</div>
				<div class="col-md-10">
					{% if skill.text %}
					<p class="skilltext">{{ skill.text }} </p>
					{% endif %}
				</div>
			</div>
				{% if not forloop.last %}
			<hr>
		{% endif %}

			{% endfor %}
		</div>
</div><!--container-->


{% endblock %}
